<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <br>
        <h4>Welcome Doctor .: </h4>
        <br>
        <h5>FR is done</h5>
        <br>
        <h5>Click button below to submit ATTENDANCE</h5>
        <br><br>
    </div>


    <div class="container">
        <form action="/doctor/saveatt" th:objecte="${attendance}" method="POST">

            <select th:field="${attendance.section}" >
                <option
                        th:each="sec : ${sections}"
                        th:value="${sec}"
                        th:text="${sec}" >
                </option>
            </select>
            <select th:field="${attendance.course}">
                <option
                        th:each="cour : ${courses}"
                        th:value="${cour.cour_id}"
                        th:text="${cour.courname}" >
                </option>
            </select>
            <select th:field="${attendance.student}" multiple="multiple">
                <option
                        th:each="stu : ${students}"
                        th:value="${stu.stu_id}"
                        th:text="${stu.stu_id}" >
                </option>
            </select>

            <button type="submit">Submit Attendance</button>
        </form>
    </div>
</body>
</html>

