<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Doctor Home</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
    <br><br>
    <div class="container h-50">

        <h5 class="card-title">Hi Doctor .:</h5>
            <br>
            <h5>Click Button Below To Start Recognizing Faces </h5>
            <br>
            <h5>And Submitting Attendance .: </h5>
            <br></br>
       <a style="color:#4287f5" href="http://localhost:8080/doctor/newatt" class="btn btn-light"><h6> Click to Start FR</h6> </a>>

      </div>
</div>
    <br><br>
</body>
</html>

