<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<div class="container">
    <br><br>

    <div class="container h-50">
        <div class="row h-100 py-4 align-items-center justify-content-center">
            <div class="row">
                <div class="col-sm-12" >
                    <div class="card text-center">
                        <div class="p-2 mb-0 bg-primary text-white">
                            <div class="card-body">
                                <h5 class="card-title">ATTENDANCE SYSTEM<BR><BR> USING FACE RECOGNTON</h5><BR>

                                <a href="http://localhost:8080/login" class="btn btn-light">LOGIN</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div></div>

    <br><br>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">DOCTOR</h5>
                    <p class="card-text">A university prof can see all students who attended the last lecture on the course.</p>
                    <a href="http://localhost:8080/chome/all" class="btn btn-primary">GO</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">STUDENT</h5>
                    <p class="card-text">Each student can check if he was attended in last lecture or not in the course.</p>
                    <a href="http://localhost:8080/chome/all/id/idstu" class="btn btn-primary">GO</a>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="row h-100 py-4 align-items-center justify-content-center">
        <div class="row">
            <div class="col-sm-12" >
                <div class="card text-center">
                    <div class="p-2 mb-0 bg-primary text-white">
                        <div class="card-body">
                            <a href="http://localhost:8080/logout" class="btn btn-light">LOGOUT</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div></div>


</div>
</body>
</html>

