<!DOCTYPE html>
<html lang="en" >
<head>
    <title>Enter UR id</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<br></br><br></br><br></br><br></br>
<div class="container h-100">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="col-md-4 col-md-offset-4">
            <form class="form-inline" action="http://localhost:8080/chome/all/id/3">
                <label for="id"><p class="text-info">Enter ur ID: </p></label>
                <div class="form-group mb-2">
                    <input type="text" class="form-control" id="id">
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
            </form>
        </div></div></div>
</body>
</html>
