<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

</head>

<body>

    <div class="container">
        <br>
        <h3>Save a new Doctor data</h3>
        <br><br>

        <form action="/admin/savedoc" th:objecte="${doctor}" method="POST">
            <input type="text" placeholder="User Name" th:field="${doctor.username}">
            <input type="text" placeholder="Active" th:field="${doctor.active}">
            <input type="text" placeholder="Password" th:field="${doctor.password}">
            <button type="submit">Create Doctor</button>
        </form>
    </div>
</body>
</html>

